<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="angel.androidapps.ttslibrary">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service
            android:name=".TtsService"
            android:exported="false" />
        <service
            android:name=".NotificationService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>


    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

</manifest>